
.container{
    text-align: center;
}
.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 40px; 
  margin-bottom: 40px;
}

:root {
  color:darkgoldenrod;
}

.hero h1 {
  color:hotpink;
}


.pro {
  color: blueviolet;
}
.hero {
  background-color: #eafaf6;  
  padding-top: 80px;
  padding-bottom: 0;
  text-align: center;
}
.hero img.mountain {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 40px auto 0;
}
.content-section {
  padding: 80px 20px;
}

.design-section { background-color: #f0f9ff; }
.hotwings-section { background-color: #fff3cd; }
.contact-section { background-color: #fcefee; }
.about-section {
  background-color: #eef6f3;
}


